*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: rgb(226, 226, 240);
}

#orderButton{
    margin: 20px;
    height: 25px;
    width: 180px;
    color: white;
    background-color: #0091ff;
    border: 0;
    box-shadow: 2px 2px 10px rgb(7, 110, 235);
}

#orderButton:hover{
    background-color: #1fea3a;
    color: black;
    scale: 1.1;
}

#orderButton:click{
    background-color: #b9f1c0;
    color: black;
    
}

#foodImage {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    display: none;
}

#orderId {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ff6600;
    display: none;
}